In [10]:
# 현재 디렉토리 확인
%who

var_x

In [7]:
var_x = 12345
f'abcde {var_x}'

'abcde 12345'

In [9]:
# 변수 var_x에 저장된 데이터를 출력
print(f'{var_x = }')

# 변수 var_x의 데이터 타입을 출력
print(f'{type(var_x) = }')

var_x = 12345
type(var_x) = <class 'int'>

In [18]:
input('숫자를 입력하세요: ') # ''을 문자로 인식

'abc'

In [16]:
int(input('숫자를 입력하세요: '))

123

In [17]:
int(123.45) # 정수형 변환

123

In [ ]:
vary
print(var_y)

In [19]:
print(10)
print(10, '경영학과', 3.14, True)
print(10, '경영학과', 3.14, True, sep='/')
print(10, '경영학과', 3.14, True, sep='/', end='\t******\n') #\t -> tap 사용

10
10 경영학과 3.14 True
10/경영학과/3.14/True
10/경영학과/3.14/True	******

이스케이프 문자 -> 특수한 문자를 출력하거나 특수한 동작을 하도록 함 
\n : 줄바꿈
\t : 탭
\\ : \ 출력
\' : ' 출력

In [21]:
# 줄바꿈 적용
print('이름 : 홍길동\n학번 : C123456\n학과 : 경영학과')
print('이름 : 홍길동\n 학번 : C123456\n 학과 : 경영학과') # 칸 띄우면 표기에 반영

이름 : 홍길동
학번 : C123456
학과 : 경영학과
이름 : 홍길동
 학번 : C123456
 학과 : 경영학과

In [24]:
# 탭 적용
print('이름\t\t학번\t\t학과')
print('홍길동\t\tC123456\t\t경영학과')
print('김원필\t\tC654321\t\t경영학과')

이름		학번		학과
홍길동		C123456		경영학과
김원필		C654321		경영학과

f-string
: 문자열과 변수를 혼합하여 출력하는 다양한 문자열 포매팅

사용법 -> 문자열 앞에 f를 붙이고, 중괄호 안에 변수명
    f'{변수명}' : 변수 값 출력
     f'{변수명 = }' : 변수 값과 변수명 출력

In [27]:
var_y = 54321 #변수 var_y에 정수형 데이터 54321을 저장

#var_y에 저장된 데이터를 출력
print(f'{var_y}', end='\n------------------------------------\n')

54321
------------------------------------

문자열-s, 정수-d, 실수 f

In [40]:
var_x = 54321
var_y = 54321.123456789

print(f'var_x는 정수형이므로 d를 사용하여야 하고, {var_x:d}입니다. ')
print(f'var_x를 총 20개의 자리에 표현하면, {var_x:20d}입니다. ')
print(f'var_x를 총 20개의 자리 중 가운데에 표현하면, {var_x:^-20d}입니다. ')
print(f'var_x를 총 20개의 자리 중 왼쪽 정렬하여 표현하면, {var_x:<20d}입니다. ')
print(f'var_y는 실수형이므로 f를 사용하여야 하고, {var_y:f}입니다. ')
print(f'var_y를 정수만 출력하면, {var_y:.0f}입니다. ')
print(f'var_y를 총 20자리에 가운데 정렬하여 소수점 3자리까지 출력하면, {var_y:^-20.3f}입니다. ')
print(f'var_y를 소수점 3자리까지 표현하면, {var_y:.3f}입니다. ')

var_x는 정수형이므로 d를 사용하여야 하고, 54321입니다.
var_x를 총 20개의 자리에 표현하면,                54321입니다.
var_x를 총 20개의 자리 중 가운데에 표현하면,        54321        입니다.
var_x를 총 20개의 자리 중 왼쪽 정렬하여 표현하면, 54321               입니다.
var_y는 실수형이므로 f를 사용하여야 하고, 54321.123457입니다.
var_y를 정수만 출력하면, 54321입니다.
var_y를 총 20자리에 가운데 정렬하여 소수점 3자리까지 출력하면,      54321.123      입니다.
var_y를 소수점 3자리까지 표현하면, 54321.123입니다.

데이터 유형

리스트 : 다양한 타입의 데이터 목록 -> 무엇이든지 들어갈 수 O
딕셔너리 : key:value 조합의 데이터

In [42]:
a = [1, {2, 3, 4}, 'aabd', True]

In [66]:
print(type('123.45'))

<class 'str'>

In [67]:
# x_value에 정수 9986을 할당
x_value = 9986

#x_value
print(f'{x_value = }\n{type(x_value) = }')

x_value = 9986
type(x_value) = <class 'int'>

In [68]:
x_str = 'bjbjbj'

x_list =[x_str, x_value]

In [74]:
print(x_str)
print(x_value)

x_list = ['bjbjbj', 9986]
x_list[0]

bjbjbj
9986

9986

In [75]:
x_tuple = [x_str, x_value]
print(x_tuple)

['bjbjbj', 9986]

In [81]:
x_dict = {'name' : 'monkey', 'id' : 14, 123: 'abc' }  #따옴표 없이 프린트 할 수 있는 방법?
print(x_dict)

{'name': 'monkey', 'id': 14, 123: 'abc'}

In [85]:
x_dict['name']
x_dict['id']
x_dict[123] # x_dict['123']은 틀림! 123은 숫자 '123'은 문자
# 한 번에 여러가지 출력은 어떻게?

'abc'

In [87]:
x_none = None
print(f'{x_none = }\n{type(x_none) = }')

x_none = None
type(x_none) = <class 'NoneType'>

In [88]:
print(dir(x_list))
print()  #한 줄 띄고 싶을 때
print(dir(x_tuple))

# list 기능 > tuple 기능

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [90]:
# x_value의 실수부(속성)를 출력
print(f'{x_value.real = }')

# x_value의 비트 수를 계산(메서드)하여 출력
print(f'{x_value.bit_length() = }')   #객체명.bit_length()
print(f'{x_value.real.bit_length() = }')

x_value.real = 9986
x_value.bit_length() = 14
x_value.real.bit_length() = 14

In [92]:
#mutable : 리스트
#원소 변경 전 x_list의 값을 출력
print(f'Before : {x_list = }')

Before : x_list = ['bjbjbj', 9986]

In [5]:
#immutable: 문자열 -> 원소 바꾸기 불가

In [6]:
try:
    x_dict['name']
    kkkkkkkk = 11111
except Typeerror as e:

SyntaxError: incomplete input (510233904.py, line 4)

In [ ]:
#immutable  

print(x_tuple)

try:
    x_tuple[1] = 1122

['bjbjbj', 9986]

Mutable과 Immutable

In [ ]:
x_list = ['abcde', 12345]

# 원소 변경전 x_list의 값을 출력
print(f'Before: {x_list = }')

# 인덱스 1 원소 (->2번째 원소)를 'fghij'로 변경
x_list[1] = 'fghij'
print(f'After : {x_list = }')

Before: x_list = ['abcde', 12345]
After : x_list = ['abcde', 'fghij']

try~except 구문

In [ ]:
#tuple은 원소 바꿀 수 없고 전체를 바꾸어야 함
x_tuple = ('abcde', 12345)

In [17]:
'a'*30

'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa'

In [8]:
'Abc' + "Abc"

'AbcAbc'

In [9]:
'Abcd' + 'add'

'Abcdadd'

In [11]:
123+456

579

In [12]:
'456' + '855'

'456855'

In [13]:
[1,2,3] + [4,5,6]

[1, 2, 3, 4, 5, 6]

In [14]:
(1,2,3) + (4,5,6,5)

(1, 2, 3, 4, 5, 6, 5)

In [15]:
{1,2,3} + {2,3,4}   #error가 나게 됨 (집합은 더해지지가 않나봐...)

TypeError: unsupported operand type(s) for +: 'set' and 'set'

자료형 변환 : 데이터의 유형을 변경하는 것
int() : 정수형
float() : 실수형
str() : 문자열로 변환

In [20]:
var_x = 12345

print(f'{var_x}는 {type(var_x)}', end='\n'+'-'*30+'\n'

SyntaxError: incomplete input (1384456255.py, line 3)

In [25]:
bool(0)

False

In [29]:
bool(' ') #원소가 있으면 true (스페이스바 있음)

True

In [31]:
bool([]) #empty list 이기 때문

False

In [33]:
bool((0)) #여기서의 ()는 tuple이 아니라 괄호

False

In [34]:
bool((0,))

True

In [38]:
float('123.45')

123.45

In [44]:
for i in[5,4,3,2,1,2,3,4,5]: #집합이므로 중복된 것을 생략하고 출력, 집합의 의미x
    print(i)

1
2
3
4
5

literable 자료형 변환 함수
    list() : 리스트로 변환
    tuple() : 튜플로 변환
    dict() : 딕셔너리로 변환
    set() : 집합으로 변환

iterable 자료형 : 반복 가능한 자료형을 의미
함수는 연속된 정수를 생성하는 ....

In [45]:
range(10)

range(0, 10)

In [46]:
list(range(2, 10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [49]:
list(range(29, 10, -3))

[29, 26, 23, 20, 17, 14, 11]

In [51]:
var_x = range(-10, 0, 2)

var_y = list(var_x)
print(f'{var_y}는 {type(var_y)}', end='\n')

[-10, -8, -6, -4, -2]

5주차 연산자

In [52]:
sum([1,2])

3

In [53]:
2*5>2+5 and not 3*3>10  #이해가 안 됨... 3*3>10이 false여서 true?

True

산술연산
-> 산술연산자는 숫자형 데이터에만 사용 가능
산술연산자를 다른 데이터유형에 사용하면 다른 기능을 수행
    iterable 자료형에 + 연산자를 사용하면 데이터를 연결
    iterable 자료형에 * 연산자를 사용하면 데이터를 반복

In [56]:
#123 + [1,2,3]   #error

list('123') + [1,2,3]

['1', '2', '3', 1, 2, 3]

In [59]:
'123' + str(',1,2,3')

'123,1,2,3'

In [65]:
print(f'{2-3 = }')
print(f'{2.0*3 = }')
print(f'{2/3 = }')
print(f'{2.0/3.0 = :.4f}')  #소수점 4번째자리까지 출력
print(f'{2**3.2 = }')

2-3 = -1
2.0*3 = 6.0
2/3 = 0.6666666666666666
2.0/3.0 = 0.6667
2**3.2 = 9.18958683997628

In [ ]:
var_x = 'Abc'
var_y =

In [66]:
print(f'{2==3 = }')

2==3 = False

In [73]:
var_y = [1,2,3]

print(f'{(var_y == [1,2,3]) = }')
print(f'{(var_y == (1,2,3)) = }')

(var_y == [1,2,3]) = True
(var_y == (1,2,3)) = False

관계연산자와 논리연산자를 함께 사용

In [74]:
# 관계연산자와 논리연산자를 함께 사용
print(f'{(2==3) and (2!=3) = }')

(2==3) and (2!=3) = False

식별 연산
    is : 동일한 객체이면 참
    is not : 동일한 객체가 아니면 참

In [77]:
var_x = 10

print(f'{(var_x is 10) = }')

(var_x is 10) = True

<>:3: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:3: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
C:\Users\Administrator\AppData\Local\Temp\ipykernel_15756\4142045924.py:3: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  print(f'{(var_x is 10) = }')

In [79]:
var_x = 10
var_y = 10.0
var_z = var_x

print(f'{(var_x is var_y) = }')    #값이 동일한 것과는 다름!
print(f'{(var_x is not var_y) = }')

(var_x is var_y) = False
(var_x is not var_y) = True

복합 대입 연산
: 연산과 대입을 동시에 수행하는 연산자  #별로 안 쓸 듯?