산술 연산

In [4]:
print(f'{2+3 = }')
print(f'{2.0+3 = }')
print(f'{2.0+3.0 = }')
print(f'{'2', '3' = }')

try:
    print(f'{2+'3' = }')   #정수 + 문자열 error
except Exception as e:
    print(e)

2+3 = 5
2.0+3 = 5.0
2.0+3.0 = 5.0
'2', '3' = ('2', '3')
unsupported operand type(s) for +: 'int' and 'str'

In [5]:
print(f'{2-3 = }')
print(f'{2.0-3 = }')
print(f'{2.0-3.0 = }')
print(f'{2*3 = }')
print(f'{2.0-3 = }')
print(f'{2.0*3.0 = }')
print(f'{2/3 = }')
print(f'{2.0/3 = }')  #소수점 4번째자리까지 출력
print(f'{2.0/3.0 = }')

2-3 = -1
2.0-3 = -1.0
2.0-3.0 = -1.0
2*3 = 6
2.0-3 = -1.0
2.0*3.0 = 6.0
2/3 = 0.6666666666666666
2.0/3 = 0.6666666666666666
2.0/3.0 = 0.6666666666666666

In [8]:
print(f'{20//3 = }')    #몫

print(f'{20%3 = }')     #나머지

20//3 = 6
20%3 = 2

In [ ]:
print(f'{2**3 = }')     #거듭제곱

2**3 = 8

In [10]:
var_x = 'Abc'
var_y = [100, 2, 3]

print(f'{var_x + var_x = }')
print(f'{var_y + var_y = }')

print(f'{var_x*3 = }')
print(f'{var_y*3 = }')

var_x + var_x = 'AbcAbc'
var_y + var_y = [100, 2, 3, 100, 2, 3]
var_x*3 = 'AbcAbcAbc'
var_y*3 = [100, 2, 3, 100, 2, 3, 100, 2, 3]

비교 연산

In [13]:
print(f'{2==3 = }')
print(f'{2!=3 = }')
print(f'{2>3 = }')
print(f'{2<3 = }')
print(f'{2>=3 = }')
print(f'{2<=3 = }')

2==3 = False
2!=3 = True
2>3 = False
2<3 = True
2>=3 = False
2<=3 = True

In [18]:
var_y = [1,2,3]

print(f'{(var_y == [1,2,3]) = }')
print(f'{(var_y == (1,2,3)) = }')
print(f'{(var_y == [1,2]) = }')
print(f'{(var_y != [1,2]) = }')
print(f'{(var_y > [1,2]) = }')
print(f'{(var_y < [1,2]) = }')

(var_y == [1,2,3]) = True
(var_y == (1,2,3)) = False
(var_y == [1,2]) = False
(var_y != [1,2]) = True
(var_y > [1,2]) = True
(var_y < [1,2]) = False

논리 연산
- and : 둘 다 참일 때만 참
- or : 둘 중 하나만 참이어도 참
- not : 참이면 거짓, 거짓이면 참

In [19]:
True and True

True

In [28]:
var_x = True

var_y = (10 > 20)

print(f'{var_y = }')
print(f'{var_x and var_y = }')
print(f'{var_x or var_y = }')
print(f'{not var_x = }')

var_y = False
var_x and var_y = False
var_x or var_y = True
not var_x = False

In [29]:
# 관계연산자와 논리연산자를 함께 사용
print(f'{(2==3) and (2!=3) = }')

(2==3) and (2!=3) = False

멤버십 연산 : 데이터가 특정 집합에 포함되어 있는지를 확인

In [32]:
var_y = [1, 2, 3]

print(f'{(1 in var_y) = }')
print(f'{('1' in var_y) = }')
print(f'{(4 in var_y) = }')
print(f'{(1 not in var_y) = }')
print(f'{(4 not in var_y) = }')

(1 in var_y) = True
('1' in var_y) = False
(4 in var_y) = False
(1 not in var_y) = False
(4 not in var_y) = True

In [ ]:
식별 연산
- is : 동일한 객체이면 참
- is not : 동일한 객체가 아니면 참

In [34]:
var_x = 10

print(f'{(var_x == 10) = }')
print(f'{(var_x is 10) = }')

(var_x == 10) = True
(var_x is 10) = True

<>:4: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:4: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
C:\Users\Win10\AppData\Local\Temp\ipykernel_11700\3405712263.py:4: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  print(f'{(var_x is 10) = }')

In [36]:
var_x = 10
var_y = 10.0
var_z = var_x

print(f'{(var_x is var_y) = }')    #값이 동일한 것과는 다름!
print(f'{(var_x is var_z) = }')
print(f'{(var_x is not var_y) = }')
print(f'{(var_x is not var_z) = }')

(var_x is var_y) = False
(var_x is var_z) = True
(var_x is not var_y) = True
(var_x is not var_z) = False

복합 대입 연산
 : 연산과 대입을 동시에 수행하는 연산자

In [38]:
var_x = 1
var_x += 1

print(var_x)

2

In [40]:
var_x = 1

var_x += 10; print(var_x)
var_x -= 1; print(var_x) 
var_x *= 2; print(var_x) 
var_x /= 2; print(var_x)
var_x //= 2; print(var_x) 
var_x %= 2; print(var_x) 
var_x ** 2; print(var_x)

11
10
20
10.0
5.0
1.0
1.0

연산의 우선순위

In [43]:
print(2**3+5)
print(2**(3+5))
print(2+3<=4*5)
print(not 2+3<=4*5)
print(not (2+3)<=(4*5))

13
256
True
False
False

강의록을 기반으로 추가 학습한 내용

In [6]:
print(f'{2.0/3.0 = :.4f}')  #소수점 4번째자리까지 출력
print(f'{2**3.2 = }')

2.0/3.0 = 0.6667
2**3.2 = 9.18958683997628

In [ ]:
True and False  #둘 다 참일 때만 참 -> 아니므로 false

False

In [ ]:
False or True   #둘 중 하나만 참이면 참 -> true

True